@import url(./font.css);

h1,
h2,
h3,
h4,
h5,
p,
a {
    font-family: 'Oldtimer';
}

.headerrr {
    background-color: #76C936;
    height: 100px;
    margin-bottom: 100px;
}

.headerrr .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.headerrr .container .left {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.headerrr .container .right {
    display: flex;
    align-items: center;
    gap: 35px;
    outline: none;
}

.line {
    width: 0;
    height: 2px;
    background-color: white;
    transition: .3s;
}

.word:hover {
    color: white;
    transition: .4s;
}

.word:hover .line {
    width: 100%;
    transition: .4s;
}

.headerrr .container .left .port {
    font-family: 'Oldtimer';
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.headerrr .container .left .port:hover {
    color: white;
}

.word {
    font-family: 'Oldtimer';
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.word:hover {
    color: white;
}

.iam .container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.iam .container .textss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}

.iam .container .text h1 {
    font-size: 60px;
}

.iam .container .text p {
    font-size: 24px;
}

.btn-success {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 251px;
    height: 83px;
    background-color: #76C936;
    border-radius: 20px;
}

.btn-success p {
    margin-bottom: 0px;
}

.skills {
    background-color: #76C936;
    margin-top: 100px;
    padding: 100px 0;
}

.skills .container {
    display: flex;
    justify-content: space-between;
}

.skills .container .block {
    background-color: white;
    border-radius: 30px;
    width: 45%;
    height: 774px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding-top: 30px;
}

.skills .container .block .text {
    width: 66%;
}

.skills .container h1 {
    font-size: 60px;
}

.skills .container h3 {
    font-size: 32px;
    margin-bottom: 30px;
}

.skills .container p {
    font-size: 20px;
}

.slider {
    margin-top: 100px;
    margin-bottom: 100px;
}

.slider .container h5 {
    color: #76C936;
    text-align: center;
}

.slider .container p {
    color: #76C936;
    text-align: center;
}

.one {
    background-color: #141414;
}

.two {
    background-color: #ffffff;
}

.three {
    background-color: #E2D8CE;
}

.card-text a {
    text-decoration: none;
}

.card-text a:hover {
    color: #76C936;
}

.career {
    background-color: #76C936;
    padding: 100px 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 30px;
    padding: 15px 30px;
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 45px;
}

.card-text:last-child {
    font-size: 23px;
}
.career .container h1{
    text-align: center;
    font-size: 50px;
    color: white;
}



@media(max-width:1400px) {
    .iam img {
        width: 480px;
        height: auto;
    }

    .skills .container h1 {
        font-size: 50px;
    }

    .skills .container h3 {
        font-size: 26px;
    }

    .skills .container p {
        font-size: 16px;
    }

    .skills .container .block {
        height: 668px;
    }
}

@media(max-width:1200px) {
    .iam img {
        width: 430px;
        height: auto;
    }

    .container .right .word {
        font-size: 14px;
    }

    .headerrr .container .right {
        gap: 25px;
    }

    .skills .container h1 {
        font-size: 40px;
    }

    .skills .container h3 {
        font-size: 23px;
    }

    .skills .container p {
        font-size: 14px;
    }

    .skills .container .block {
        height: 604px;
    }
}

@media(max-width:992px) {
    .iam img {
        width: 320px;
        height: auto;
    }

    .iam .container .text h1 {
        font-size: 40px;
    }

    .btn-success {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        height: 63px;
        background-color: #76C936;
        border-radius: 20px;
    }

    .iam .container .btn-success p {
        font-size: 18px;
    }

    .container .right .word {
        font-size: 12px;
    }

    .iam .container .textss {
        gap: 50px;
    }

    .iam .container .text {
        gap: 40px;
    }

    .iam .container .text p {
        font-size: 16px;
    }

    .iam .container .text h1 {
        font-size: 35px;
    }

    .headerrr .container .right {
        gap: 15px;
    }

    .headerrr .container .left .port {
        font-size: 16px;
    }

    .headerrr .container .left img {
        width: 55px;
        height: auto;
    }

    .skills .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .skills .container .block {
        width: 60%;
        height: 600px;
    }
}

@media(max-width:768px) {
    .container .right .word {
        font-size: 10px;
    }

    .headerrr .container .right {
        gap: 10px;
    }

    .headerrr .container .left .port {
        font-size: 14px;
    }

    .headerrr .container .left img {
        width: 50px;
        height: auto;
    }

    .iam .container .photo {
        display: flex;
        justify-content: center;
    }

    .iam .container .text {
        align-items: center;
        text-align: center;
        gap: 30px;
        margin-top: 50px;
    }

    .iam .container .textss {
        gap: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iam .container .textss p {
        width: 70%;
    }

    .headerrr {
        margin-bottom: 50px;
    }

    .skills .container .block {
        width: 78%;
        height: 600px;
        gap: 40px;
    }

    .skills .container h3 {
        margin-bottom: 20px;
    }

    .slider .container p {
        color: #76C936;
        text-align: center;
        font-size: 10px;
    }

}

@media(max-width:576px) {
    .headerrr .container {
        flex-direction: column;
    }

    .container .right .word {
        font-size: 9px;
    }

    .iam img {
        width: 250px;
        height: auto;
    }

    .iam .container .text h1 {
        font-size: 23px;
    }

    .iam .container .textss p {
        width: 90%;
        font-size: 14px;
    }

    .btn-success {
        width: 166px;
        height: 50px;
    }

    .iam .container .textss {
        gap: 20px;
    }

    .iam .container .text p {
        font-size: 14px;
    }

    .skills .container .block {
        width: 100%;
        height: 520px;
        gap: 40px;
    }

    .skills .container h3 {
        font-size: 16px;
    }

    .skills .container p {
        font-size: 12px;
    }

    .skills .container h1 {
        font-size: 30px;
    }

    .slider .container p {
        text-align: center;
        font-size: 6px;
    }

    .slider .container h5 {
        font-size: 12px;
    }


}